<h4>Usuarios</h4>

<div class="container">
    <div class="row flex">
      <div *ngFor = "let usuario of usuarios" class="card col-3">
        <div class="card-body">
          {{usuario.nombre}} 
          <br> 
          {{usuario.apellido}} 
          <br> 
          {{usuario.telefono}}
          <br>
          {{usuario.email}}
          <br>
          {{usuario.fechaNacimiento}}
          <br>
          {{usuario.genero}}
          <div class="btn-eliminar">
            <button (click) = "eliminar(usuario.id)" type="button" class="btn btn-dark float-end" >X</button>
          </div>
          
        </div>
          
      </div>
    </div>
  </div>