/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    margin: 20px;
    color: #3e4144;
  }
  
.card-body .btn-eliminar {
  display: none;
}

.card-body:hover .btn-eliminar{
  display: inline;
}

.card{
  margin-left: 20px;
  margin-bottom: 20px;
}